name: Generate Static Pages
on:
  workflow_dispatch:
  push:
    branches:
      - 'main'
env:
  CI: true
  NODE_ENV: 'development'
jobs:
  build_and_test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16.13.x]
    steps:
      - uses: actions/checkout@v3
      - name: Install nodejs
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install dependencies
        run: npm ci
      - name: Create docs folder
        run: |
          mkdir /tmp/docs
          cp ./.github/static.html /tmp/docs/index.html
      - name: Build coverage
        run: |
          npm run coverage
          npm run build-storybook
          mv ./coverage /tmp/docs/coverage
      - name: Build Storybook
        run: |
          npm run build-storybook
          mv ./storybook-static /tmp/docs/storybook
      - name: Update docs branch
      - uses: actions/checkout@v3
        with:
          ref: docs
      - run: |
          rm -rf *
          mv /tmp/docs /
          git add .
          git commit -m "docs refresh"
          git push origin HEAD
